body{
    background-color: rgb(76, 0, 255);
}
.form-group{
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.form-group input{
    width: 80%;
    margin-left: 10px;
    padding: 10px;
    outline: 0;
    border: 0;
    font-size: 12px;
    color: #000000;
}

.caixa_input{
    border: 1px solid;
    width: 80%;
    align-items: center;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;

}
.caixa_input img{
    width: 25px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
}